*{
  box-sizing: border-box;
  
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color:#d5b3b2;
}

.navbar{
  text-align: center;
  color:#bf4e24;
  padding: 25px;
  font-weight: bold;
}

hr{
  border: 1px solid #b0421a;
}
.brand{
  font-size: 40px; 
}

.scoreboard{
  max-width: 395px;
  width: 100%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 5px;
}

.scoreboard-letter{
  height: 65px;
  width: 65px;
  font-size: 25px;
  text-transform: uppercase;
  border: 3px solid #0f6076;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spiral{
  font-size: 50px;
  animation : spin 1.5s linear infinite;
  align-items: center;
}
@keyframes spin {
  to{
    transform: rotate(360deg);
  }
}

.infobar{
  align-items: center;
  display: flex;
  justify-content: center;
}




